modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Interface"

[[workflows.workflow]]
name = "Run Interface"
author = 19276815
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python metaclasses/interface.py"
